#coords {
    font-family: "courier", "sans-serif";
    text-align: center;
}
#map {
    height: 300px;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
#story {
   /* background-color: teal;*/
/*    color: white;
    height: 280px;
    width: 30%;
    
    right: 5px;
    padding: 10px;*/
  
   /* line-height: 200%; */
    text-align: center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    font-variant: small-caps;
   
    overflow-y: scroll;

}



#story .div {
	background-color: "yellow"

}


#code {
    font-family: "courier", "sans-serif";

}



header {
    font-family: Arial, "sans serif";
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px white;
}
@media only screen and (min-width: 600px) {
    body background-color: #FFFCD7;
}
	#story {
	    width: 20%;
	    display: inline-block;
	    position: relative;
	}
	#map {
	    display: inline-block;
	    position: fixed;
        height: 240px;
	}
	}
@media only screen and (min-width: 1000px) {
    body {
        background-color: #FFFB83;
    }
    #map {
        width: 80%;
    }
    #story {
        width: 500px;
    }
}

 /* move from / to and fade */

.pt-page-moveToLeftFade {
    -webkit-animation: moveToLeftFade .7s ease both;
    animation: moveToLeftFade .7s ease both;
}

.pt-page-moveFromLeftFade {
    -webkit-animation: moveFromLeftFade .7s ease both;
    animation: moveFromLeftFade .7s ease both;
}

.pt-page-moveToRightFade {
    -webkit-animation: moveToRightFade .7s ease both;
    animation: moveToRightFade .7s ease both;
}

.pt-page-moveFromRightFade {
    -webkit-animation: moveFromRightFade .7s ease both;
    animation: moveFromRightFade .7s ease both;
} 


.pt-perspective {
    position: relative;
    width: 100%;
    height: 200px;
    perspective: 1200px;
    transform-style: preserve-3d;
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*visibility: hidden;*/
    overflow: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

/*.pt-page-current,
.no-js .pt-page {
    visibility: visible;
}

.no-js body {
    overflow: auto;
}*/

.pt-page-ontop {
    z-index: 999;
}


/********************************* keyframes **************************************/

/* move from / to  */

/*@-webkit-keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
    from { }
    to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
    from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
    from { }
    to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
    from { }
    to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
    from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}
*/


/* move from / to and fade */

@-webkit-keyframes moveToLeftFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeftFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeftFade {
    from { opacity: 0.3; -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeftFade {
    from { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRightFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveToRightFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRightFade {
    from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
    from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}


